# Archivos específicos del proyecto a ignorar
src/main/resources/application-dev.properties
/dataType.json
/format.json
/test-output/

# Archivos generados por Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Archivos de compilación
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Archivos de IDE
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/
bin/
.factorypath

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
*.log
*.tmp
*.swp
*.swo

# Exclusiones específicas de tests
/src/test/resources/generated_cv.pdf
**/surefire-reports/
**/failsafe-reports/
**/test-results/

# Archivos del wrapper de Maven (si no quieres incluirlos)
mvnw
mvnw.cmd